.container {
  margin-right: auto;
  margin-left: auto;
  width: 95%; }

.row {
  box-sizing: border-box;
  display: flex;
  Flex-flow: row wrap;
  flex: 0 1 auto; }

.col-xs-1 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 8.33333333%;
  Flex-basis: 8.33333333%; }

.col-xs-2 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 16.66666667%;
  Flex-basis: 16.66666667%; }

.col-xs-3 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 25;
  Flex-basis: 25%; }

.col-xs-4 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 33.33333333%;
  Flex-basis: 33.33333333%; }

.col-xs-5 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 41.66666667%;
  Flex-basis: 41.66666667%; }

.col-xs-6 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 50%;
  Flex-basis: 50%; }

.col-xs-7 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 58.33333333%;
  Flex-basis: 58.33333333%; }

.col-xs-8 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 66.66666667%;
  Flex-basis: 66.66666667%; }

.col-xs-9 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 75%;
  Flex-basis: 75%; }

.col-xs-10 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 83.33333333%;
  Flex-basis: 83.33333333%; }

.col-xs-11 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 91.66666667%;
  Flex-basis: 91.66666667%; }

.col-xs-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
  Flex-basis: 100%; }

.hidden-xs {
  display: none; }

.visible-xs {
  display: block; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

@media only screen and (min-width: 768px) {
  .container {
    width: 750px; }
  .col-sm-1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 8.33333333%;
    Flex-basis: 8.33333333%; }
  .col-sm-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 16.66666667%;
    Flex-basis: 16.66666667%; }
  .col-sm-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25;
    Flex-basis: 25%; }
  .col-sm-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.33333333%;
    Flex-basis: 33.33333333%; }
  .col-sm-5 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 41.66666667%;
    Flex-basis: 41.66666667%; }
  .col-sm-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
    Flex-basis: 50%; }
  .col-sm-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 58.33333333%;
    Flex-basis: 58.33333333%; }
  .col-sm-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 66.66666667%;
    Flex-basis: 66.66666667%; }
  .col-sm-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 75%;
    Flex-basis: 75%; }
  .col-sm-10 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 83.33333333%;
    Flex-basis: 83.33333333%; }
  .col-sm-11 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 91.66666667%;
    Flex-basis: 91.66666667%; }
  .col-sm-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
    Flex-basis: 100%; }
  .hidden-sm {
    display: none; }
  .visible-sm {
    display: block; }
  .col-sm-offset-0 {
    margin-left: 0; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; } }

@media only screen and (min-width: 992px) {
  .container {
    width: 970px; }
  .col-md-1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 8.33333333%;
    Flex-basis: 8.33333333%; }
  .col-md-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 16.66666667%;
    Flex-basis: 16.66666667%; }
  .col-md-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25;
    Flex-basis: 25%; }
  .col-md-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.33333333%;
    Flex-basis: 33.33333333%; }
  .col-md-5 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 41.66666667%;
    Flex-basis: 41.66666667%; }
  .col-md-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
    Flex-basis: 50%; }
  .col-md-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 58.33333333%;
    Flex-basis: 58.33333333%; }
  .col-md-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 66.66666667%;
    Flex-basis: 66.66666667%; }
  .col-md-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 75%;
    Flex-basis: 75%; }
  .col-md-10 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 83.33333333%;
    Flex-basis: 83.33333333%; }
  .col-md-11 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 91.66666667%;
    Flex-basis: 91.66666667%; }
  .col-md-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
    Flex-basis: 100%; }
  .hidden-md {
    display: none; }
  .visible-md {
    display: block; }
  .col-md-offset-0 {
    margin-left: 0; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; } }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px; }
  .col-lg-1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 8.33333333%;
    Flex-basis: 8.33333333%; }
  .col-lg-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 16.66666667%;
    Flex-basis: 16.66666667%; }
  .col-lg-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25;
    Flex-basis: 25%; }
  .col-lg-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.33333333%;
    Flex-basis: 33.33333333%; }
  .col-lg-5 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 41.66666667%;
    Flex-basis: 41.66666667%; }
  .col-lg-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
    Flex-basis: 50%; }
  .col-lg-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 58.33333333%;
    Flex-basis: 58.33333333%; }
  .col-lg-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 66.66666667%;
    Flex-basis: 66.66666667%; }
  .col-lg-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 75%;
    Flex-basis: 75%; }
  .col-lg-10 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 83.33333333%;
    Flex-basis: 83.33333333%; }
  .col-lg-11 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 91.66666667%;
    Flex-basis: 91.66666667%; }
  .col-lg-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
    Flex-basis: 100%; }
  .hidden-lg {
    display: none; }
  .visible-lg {
    display: block; }
  .col-lg-offset-0 {
    margin-left: 0; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; } }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

@font-face {
  font-family: Olietta;
  src: url(./fonts/Olietta.ttf); }

.layout {
  font-family: Olietta;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 480px; }

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.coinsBook {
  position: relative;
  min-height: 50em;
  perspective: 4200px; }

.loadingFog {
  animation: fog  1.5s linear  infinite alternate;
  background: black;
  border-radius: .2em;
  border: 2px solid #776f19; }

@keyframes fog {
  from {
    background: #776f19; }
  50% {
    background: black; }
  to {
    background: #776f19; } }

@keyframes fog2 {
  from {
    box-shadow: inset 1px 1px 10px #bdaf0d; }
  50% {
    box-shadow: inset 1px 1px 100px #bdaf0d; }
  to {
    box-shadow: inset 1px 1px 10px #bdaf0d; } }
.hide {
  display: none; }

.pageSection {
  transform-style: preserve-3d;
  transform-origin: left center 0px;
  position: absolute;
  height: 100%;
  -moz-backface-visibility: hidden; }

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #9e9210;
  border-radius: .75em;
  background: #fffaca;
  box-shadow: inset 0px 0px 0px 2px #9e9210, inset 0px 0px 0px 4px #000000, inset 0px 0px 0px 7px #9e9210, inset 0px 0px 0px 10px #000000, inset 0px 0px 100px #000000;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden; }

.page__header {
  box-sizing: border-box;
  height: 12.5%;
  flex-basis: 100%;
  text-align: center; }
  .page__header h1 {
    font-size: 2.25em;
    line-height: .1em;
    padding: 1.2em;
    padding-bottom: .6em; }
  .page__header hr {
    width: 60%;
    border: 1px solid #9e9210;
    border-bottom: none; }

.page__footer {
  box-sizing: border-box;
  height: 12.5%;
  display: flex; }
  .page__footer .pageNum {
    font-size: 2em;
    line-height: 3em;
    flex: 0 0 auto;
    margin-left: auto; }
  .page__footer hr {
    border: 1px solid #9e9210;
    border-bottom: none;
    width: 40%;
    height: 0;
    margin-left: 1em;
    position: absolute; }
  .page__footer .page__footer_messField, .page__footer .backPage__footer_messField {
    padding: .5em 0;
    font-size: 1.75em;
    line-height: 1em;
    text-align: center;
    position: relative; }

.page__body {
  box-sizing: border-box;
  height: 75%;
  position: relative; }

.page__nav {
  font-size: 1.85em; }
  .page__nav ul li {
    display: flex;
    will-change: background;
    list-style-type: none;
    padding: .25em 0;
    line-height: 1.45em;
    border-radius: .2em;
    position: relative; }
    .page__nav ul li span {
      flex: 0 0 auto; }
    .page__nav ul li :first-child {
      margin-right: auto; }

.chaptersSection .frontPage .page__nav li {
  cursor: pointer;
  transition: all .25s ease; }
  .chaptersSection .frontPage .page__nav li:hover {
    text-shadow: 0px 0px 6px #9e9210;
    transform: scale(1.01); }
  .chaptersSection .frontPage .page__nav li:active {
    transform: scale(1); }

.page__chapter {
  font-size: 1.25em;
  line-height: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  display: flex;
  transition: all .25s ease;
  cursor: pointer; }
  .page__chapter span {
    flex: 0 0 auto; }
  .page__chapter :first-child {
    margin-right: auto; }
  .page__chapter:hover {
    text-shadow: 0px 0px 6px #9e9210;
    transform: scale(1.01); }
  .page__chapter:active {
    transform: scale(1); }

.titleSection .backPage, .endSection .backPage {
  box-shadow: inset 0px 0px 0px 2px #9e9210, inset 0px 0px 0px 4px #000000, inset 0px 0px 0px 7px #9e9210, inset 0px 0px 0px 10px #000000, inset 0px 0px 200px #000000, -3px 3px 10px 0px  black; }

.page_titlePage {
  background: #402007;
  box-shadow: inset 0px 0px 40px 2px #b7b7b7, inset 0px 0px 200px 10px #000000, inset 0px -50px 200px 10px black, -4px 4px 10px 0px  #2d2d2d;
  cursor: default;
  border: none;
  padding: 2px; }

.page__titleForTitlePage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d0c233;
  font-size: 1.65em;
  line-height: 1.4em; }

.frontPage {
  z-index: 2; }
  .frontPage .page__titleForTitlePage {
    text-align: center;
    font-size: 4em; }

.backPage {
  z-index: 1;
  transform: rotateY(180deg); }
  .backPage .page__footer span {
    margin-left: 0; }

.coinsContainer {
  -webkit-tap-highlight-color: transparent; }

.coinImageContainer {
  margin: .75em 1.25em;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent; }
  .coinImageContainer img {
    position: absolute;
    width: 98%;
    top: 0px;
    left: -1px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border-radius: 50%;
    z-index: -1;
    transition: all .15s ease; }

.coinImageContainerInner {
  position: relative;
  box-shadow: inset -1px 1px 10px 0px #585858;
  border-radius: 50%;
  border: 1px solid #9e9210;
  width: 100%;
  height: 0;
  padding-top: 100%; }

.coinImageContainerInner:hover img {
  transform: scale(1.03); }

.aboutPage p {
  font-size: 1.75em; }

.endSection .backPage {
  z-index: 2;
  transform: rotateY(0deg);
  box-shadow: inset 0px 0px 0px 2px #9e9210, inset 0px 0px 0px 4px #000000, inset 0px 0px 0px 7px #9e9210, inset 0px 0px 0px 10px #000000, inset 0px 0px 200px #000000, 3px 3px 10px 0px  black; }

.endSection .frontPage {
  z-index: 1;
  transform: rotateY(180deg); }

.coinDescriptionWrapper {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none; }

.coinDescription {
  position: relative;
  width: 100%;
  height: 100%; }

.description__coinsName {
  max-width: 70%;
  word-wrap: break-word; }

.coinImage_descriptionWrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 47.5%; }

.coinImage_descriptionIntWrapper {
  width: 45%;
  flex: 0 0 auto;
  margin: auto; }

.coinImage_description {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 5px #9e9210, 0px 0px 10px 0px #404040; }

.closeDescription {
  cursor: pointer;
  transition: all .25s ease; }
  .closeDescription:hover {
    text-shadow: 0px 0px 6px #9e9210;
    transform: scale(1.01); }
  .closeDescription:active {
    transform: scale(1); }

.backPage .arrow {
  transform: rotateY(180deg); }

.arrow {
  display: none;
  font-size: 2.5em;
  line-height: 1.25em;
  color: #8b810e;
  text-shadow: 1px 2px 2px #404040;
  transition: all .25s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .arrow:hover {
    color: #404040;
    transition: background-color 2000 linear; }
  .arrow:active {
    transform: scale(1);
    text-shadow: none; }

@media screen and (max-width: 1200px) {
  .coinImageContainer {
    margin: .75em 1em; }
  .coinsBook {
    min-height: 45em; } }

@media screen and (max-width: 992px) {
  .coinImageContainer {
    margin: .75em .9em; }
  .coinsBook {
    min-height: 45em;
    font-size: .80em; } }

@media screen and (max-width: 768px) {
  .arrow {
    display: inline-block; }
  .coinImageContainer {
    margin: .75em .9em; }
  .coinsBook {
    min-height: 45em;
    font-size: .70em; } }

@media screen and (max-width: 610px) {
  .arrow {
    display: inline-block; }
  .coinImageContainer {
    margin: .50em .9em; }
  .coinsBook {
    min-height: 45em;
    font-size: .50em; } }

@media screen and (orientation: landscape) and (max-height: 760px) {
  .arrow {
    display: inline-block; }
  .coinImageContainer {
    margin: .50em .9em; }
  .coinsBook {
    min-height: 56em;
    font-size: .80em; } }

@media screen and (orientation: landscape) and (max-height: 700px) {
  .arrow {
    display: inline-block; }
  .coinImageContainer {
    margin: .50em .9em; }
  .coinsBook {
    min-height: 47.5em;
    font-size: .80em; } }

@media screen and (orientation: landscape) and (max-height: 600px) {
  .arrow {
    display: inline-block; }
  .coinImageContainer {
    margin: .50em 1em; }
  .coinsBook {
    min-height: 49em;
    font-size: .60em; } }
.errorMessage {
  color: #b50000;
  animation: messAnimate  2s linear  infinite alternate; }

.completeMessage {
  color: #285200;
  animation: messAnimate  2s linear  infinite alternate; }

@keyframes messAnimate {
  from {
    transform: scale(1); }
  50% {
    transform: scale(1.035); }
  to {
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map*/